


div{

	border: 2px solid orangered;
	padding: 0px 17px 160px 0px;
	margin:0px 0px 0px 5px;
	background-color: white;
	display: block;
    height: 100px; 
    width: 170px;
    text-align: center;

}

p{

  font-size: 15px;
} 